### Linear Regression from scratch

In [10]:
import numpy as np
import pandas as pd

In [11]:
data = pd.read_excel('energy.xlsx')
data.head(5)

      AT      V       AP     RH      PE
0  14.96  41.76  1024.07  73.17  463.26
1  25.18  62.96  1020.04  59.08  444.37
2   5.11  39.40  1012.16  92.14  488.56
3  20.86  57.32  1010.24  76.64  446.48
4  10.82  37.50  1009.23  96.62  473.90

In [12]:
data.shape

(9568, 5)

In [13]:
# Shuffle Data
data = data.sample(frac=1)

In [15]:
# Slice
data_train = data.iloc[0:7654, :]
data_test = data.iloc[7654:, :]

In [16]:
# Split
X_train = data_train.iloc[:, :-1]
X_test = data_test.iloc[:, :-1]
y_train = data_train.iloc[:, -1]
y_test = data_test.iloc[:, -1]

In [21]:
X_train.shape, y_train.shape

((7654, 4), (7654,))

In [ ]:
# Functions