In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('university_admissions.csv')
df

      rating  CGPA  admitted
0          4  9.88      True
1          4  8.30      True
2          3  6.59     False
3          4  8.96      True
4          1  5.74      True
...      ...   ...       ...
1535       5  8.89     False
1536       3  7.05     False
1537       3  7.68      True
1538       2  6.05     False
1539       3  7.14     False

[1540 rows x 3 columns]

In [4]:
# Shuffle Data
df = df.sample(frac=1)

In [7]:
df.shape

(1540, 3)

In [ ]:
# Functions

def feat_scaling(X):
    
    mean = np.mean(X, axis=0)
    sigma = np.std(X, axis=0)
    
    X_scale = (X-mean) / sigma
    
    return X_scale

def sigmoid(z):
    
    sigmoid = 1 / (1 + np.exp(-z))
    
    return sigmoid